USE [OPTICX]
GO
/****** Object:  StoredProcedure [dbo].[spTopCinco]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spTopCinco]
AS
BEGIN
SELECT TOP	5
   PROM_ID,
   PROM_NOMB,
   PROM_DESC,
   PROM_FOTO,
   PROM_MES_ID,
   MES_ID,
   MES_NOMB,
   PROM_FECH_CAPT
   FROM dbo.PROMOCIONES INNER JOIN dbo.MESES ON PROM_MES_ID=MES_ID
   ORDER BY PROM_FECH_CAPT;
   END
GO
/****** Object:  Table [dbo].[CALIDAD]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CALIDAD](
	[CALI_ID] [int] NOT NULL,
	[CALI_NOMB] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CALIDAD] PRIMARY KEY CLUSTERED 
(
	[CALI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CATE_ID] [int] NOT NULL,
	[CATE_NOMB] [varchar](50) NOT NULL,
	[CATE_DESC] [varchar](max) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLOR](
	[COLO_ID] [int] NOT NULL,
	[COLO_NOMB] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COLOR] PRIMARY KEY CLUSTERED 
(
	[COLO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESES]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MESES](
	[MES_ID] [int] NOT NULL,
	[MES_NOMB] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MESES] PRIMARY KEY CLUSTERED 
(
	[MES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OFERTA]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA](
	[OFER_ID] [int] NOT NULL,
	[OFER_PROD_ID] [int] NOT NULL,
	[OFER_DESC] [decimal](6, 2) NOT NULL,
	[OFER_FOTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_OFERTA] PRIMARY KEY CLUSTERED 
(
	[OFER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PROD_ID] [int] NOT NULL,
	[PROD_NOMB] [varchar](50) NOT NULL,
	[PROD_DESC] [nvarchar](max) NOT NULL,
	[PROD_CATE_ID] [int] NOT NULL,
	[PROD_FECH_ALTA] [datetime] NOT NULL,
	[PROD_PREC] [decimal](8, 2) NULL,
	[PROD_OFER] [bit] NOT NULL,
	[PROD_OFER_PREC] [decimal](8, 2) NULL,
	[PROD_COLO_ID] [int] NOT NULL,
	[PROD_CALI_ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROMOCIONES]    Script Date: 21/01/2017 15:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROMOCIONES](
	[PROM_ID] [int] NOT NULL,
	[PROM_NOMB] [varchar](50) NOT NULL,
	[PROM_DESC] [nvarchar](max) NOT NULL,
	[PROM_FOTO] [nvarchar](max) NOT NULL,
	[PROM_MES_ID] [int] NOT NULL,
	[PROM_FECH_CAPT] [date] NOT NULL,
 CONSTRAINT [PK_PROMOCIONES] PRIMARY KEY CLUSTERED 
(
	[PROM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_OFERTA_PRODUCTOS] FOREIGN KEY([OFER_PROD_ID])
REFERENCES [dbo].[PRODUCTOS] ([PROD_ID])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_OFERTA_PRODUCTOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CALIDAD] FOREIGN KEY([PROD_CALI_ID])
REFERENCES [dbo].[CALIDAD] ([CALI_ID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CALIDAD]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIA] FOREIGN KEY([PROD_CATE_ID])
REFERENCES [dbo].[CATEGORIA] ([CATE_ID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_COLOR] FOREIGN KEY([PROD_COLO_ID])
REFERENCES [dbo].[COLOR] ([COLO_ID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_COLOR]
GO
ALTER TABLE [dbo].[PROMOCIONES]  WITH CHECK ADD  CONSTRAINT [FK_PROMOCIONES_MESES] FOREIGN KEY([PROM_MES_ID])
REFERENCES [dbo].[MESES] ([MES_ID])
GO
ALTER TABLE [dbo].[PROMOCIONES] CHECK CONSTRAINT [FK_PROMOCIONES_MESES]
GO
